html,
body {
  margin: 0;
  padding: 0;
}

/* :root {
  -color-primary: #ffb4a4;
  --color-on-primary: #640d00;
  --color-surface-1: #2b2220;
} */
.stepper-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 50px;
  width: 126px;
  height: 40px;
}

.decrement-btn {
  height: 40px;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #ffb4a4;
  background: #2b2220;
  border-right: 0;
}
.decrement-btn-minus {
 
  padding: 16px;
  position: relative;
  background: #2b2220;
  border-right: 0;
}
.decrement-btn-minus-h {
  position: absolute;
  background: #ffb4a4;
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.value-display {
  display: inline-block;
  padding: 10.9px 18px;
  font-size: 14px;
  color: #ffb4a4;
  border: 1px solid #ffb4a4;
  font-weight: 700;
  background: #2b2220;
}
.increment-btn {
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #ffb4a4;
  border-left: 0;
  background:#2b2220;
  height: 40px;
}
.increment-btn-plus {
  padding: 16px;
  position: relative;
  background: #2b2220;
  border-left: 0;
}
.increment-btn-plus-v,
.increment-btn-plus-h {
  position: absolute;
  background: #ffb4a4;
}

.increment-btn-plus-v {
  width: 2px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.increment-btn-plus-h {
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.decrement-btn , .increment-btn {
  cursor: pointer;
}



